<div class="center jumbotron">

<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<div>
<%= link_to image_tag("hero1.jpg", size: "280x250", alt: "Rails logo") %>
<%= link_to image_tag("hero2.jpg", size: "280x250", alt: "Rails logo") %>
<%= link_to image_tag("hero3.jpg", size: "280x250", alt: "Rails logo") %>
<%= link_to image_tag("hero4.jpg", size: "280x250", alt: "Rails logo") %>
</div>
<div>
<%= link_to image_tag("hero5.jpg", size: "280x250", alt: "Rails logo") %>
<%= link_to image_tag("hero6.jpg", size: "280x250", alt: "Rails logo") %>
<%= link_to image_tag("hero7.jpg", size: "280x250", alt: "Rails logo") %>
<%= link_to image_tag("hero8.jpg", size: "280x250", alt: "Rails logo") %>
</div>

<div>
<%= link_to image_tag("hero9.jpg", size: "280x250", alt: "Rails logo") %>
<%= link_to image_tag("hero10.jpg", size: "280x250", alt: "Rails logo") %>
<%= link_to image_tag("hero11.jpg", size: "280x250", alt: "Rails logo") %>
<%= link_to image_tag("hero12.jpg", size: "280x250", alt: "Rails logo") %>
</div>
