<% provide(:title, "hindi_dubbed") %>
<h1>Hindi Dubbed Movies</h1>
<div id="main">
<div class="movieinline">
    <div><%= link_to image_tag("doubleattack.jpg", size: "280x250", alt: "Rails logo")
      %>
      <p class="fontsize"><%= link_to "
      Double Attack", doubleattack_path %></P>
      <P class="fontsize"><%= link_to "
      Actor", ntr_path %></p>
    </div>

    <div><%= link_to image_tag("Bahubali1.jpg", size: "280x250", alt: "Rails logo") %>
    <P class="fontsize"><%= link_to "
    Bahubali: The Begining", bahubali_path %></P>
    <P class="fontsize"><%= link_to "
    Actor", vijay_path %></p>
    </div>

    <div><%= link_to image_tag("bahubali2.jpg", size: "280x250", alt: "Rails logo") %>
      <p class="fontsize"><%= link_to "
      Bahubali: The Conclusion", bahubali2_path %></P>
        <P class="fontsize"><%= link_to "
        Actor", ntr_path %></p>
  </div>
  <div><%= link_to image_tag("doubleattack2.jpg", size: "280x250", alt: "Rails logo") %>
    <p class="fontsize"><%= link_to "
    Doublr Attack II", doubleattack_path %></P>
      <P class="fontsize"><%= link_to "
      Actor", vijay_path %></p>
      </div>
</div>



<div class="movieinline">
    <div><%= link_to image_tag("janta.jpg", size: "280x250", alt: "Rails logo")
      %>
      <p class="fontsize"><%= link_to "
      Janatha Garage", jantha_path %></P>
        <P class="fontsize"><%= link_to "
        Actor", ntr_path %></p>

    </div>
  <div><%= link_to image_tag("race.jpg", size: "280x250", alt: "Rails logo") %>
    <P class="fontsize"><%= link_to "
    Lucky: The Racer", lucky_path %></P>
    <P class="fontsize"><%= link_to "
    Actor", vijay_path %></p>
    </div>
  <div><%= link_to image_tag("billu.jpg", size: "280x250", alt: "Rails logo") %>
    <p class="fontsize"><%= link_to "
    Billu Bachchan: EK Diljala", billu_path %></p>
    <P class="fontsize"><%= link_to "
    Actor", ntr_path %></p>

  </div>
    <div><%= link_to image_tag("kick2.jpg", size: "280x250", alt: "Rails logo") %>
      <p class="fontsize"><%= link_to "
      Kick II", kick2_path %></p>
      <P class="fontsize"><%= link_to "
      Actor", ntr_path %></p>

      </div>
</div>



<div class="movieinline">
    <div><%= link_to image_tag("sarrindou.jpg", size: "280x250", alt: "Rails logo")
      %>
      <p class="fontsize"><%= link_to "
      Sarrindou", sarrindou_path %></p>
      <P class="fontsize"><%= link_to "
      Actor", vijay_path %></p>

    </div>
  <div><%= link_to image_tag("bagwat.jpg", size: "280x250", alt: "Rails logo") %>
    <p class="fontsize"><%= link_to "
    Bagawat Ek Jung", bagawat_path %></P>
      <P class="fontsize"><%= link_to "
      Actor", vijay_path %></p>

    </div>
  <div><%= link_to image_tag("golmar.jpg", size: "280x250", alt: "Rails logo") %>
    <p class="fontsize"><%= link_to "
  Golimaar", golimaar_path %></P>
      <P class="fontsize"><%= link_to "
      Actor", ntr_path %></p>

  </div>
    <div><%= link_to image_tag("baadshah.jpg", size: "280x250", alt: "Rails logo") %>
      <P class="fontsize"><%= link_to "
      Baadshan", baadshah_path %></P>
      <P class="fontsize"><%= link_to "
      Actor", ntr_path %></p>

      </div>
</div>


<div class="movieinline">
    <div><%= link_to image_tag("solider.jpg", size: "280x250", alt: "Rails logo")
      %>
      <p class="fontsize"><%= link_to "
      Soldier", solider_path %></p>
      <P class="fontsize"><%= link_to "
      Actor", vijay_path %></p>


    </div>
  <div><%= link_to image_tag("samba.jpg", size: "280x250", alt: "Rails logo") %>
    <p class="fontsize"><%= link_to "
    Samba", samba_path %></P>
      <P class="fontsize"><%= link_to "
      Actor", ntr_path %></p>

    </div>
  <div><%= link_to image_tag("babu.jpg", size: "280x250", alt: "Rails logo") %>
    <p class="fontsize"><%= link_to "
  Policewal gunda", babu_path %></P>
      <P class="fontsize"><%= link_to "
      Actor", ntr_path %></p>

  </div>
    <div><%= link_to image_tag("realtiger.jpg", size: "280x250", alt: "Rails logo") %>
      <P class="fontsize"><%= link_to "
      The Real Tiger", realtiger_path %></P>
      <P class="fontsize"><%= link_to "
      Actor", ntr_path %></p>

      </div>
</div>




</div>
