<% provide(:title, 'hindi_movies') %>
<h1>Englsih Movies</h1>
<div id="main">
<div class="movieinline">
  <div><%= link_to image_tag("terminal.jpg", size: "280x250", alt: "Rails logo") %>
    <p class="fontsize"><%= link_to "
    The Terminal", blackhat_path %></p>
    <P class="fontsize"><%= link_to "
    Actor", tony_path %></p>
  </div>

    <div><%= link_to image_tag("italianjob.jpg", size: "280x250", alt: "Rails logo") %>
      <p class="fontsize"> <%= link_to "
      The Italian Jor", italianjob_path %></p>
      <P class="fontsize"><%= link_to "
      Actor", henry_path %></p>
    </div>

    <div><%= link_to image_tag("hero1.jpg", size: "280x250", alt: "Rails logo") %>
      <p class="fontsize"><%= link_to "
      Bad Boys II", badboys2_path %></p>
      <P class="fontsize"><%= link_to "
      Actor", henry_path %></p>
  </div>
  <div><%= link_to image_tag("hero3.jpg", size: "280x250", alt: "Rails logo") %>
    <p class="fontsize"><%= link_to "
    Lucy", lucy_path %></p>
    <P class="fontsize"><%= link_to "
    Actor", henry_path %></p>
      </div>
</div>



<div class="movieinline">
    <div><%= link_to image_tag("hero2.jpg", size: "280x250", alt: "Rails logo")
      %>
      <p class="fontsize"><%= link_to "
      Unstoppable", playinhelp_path %></p>
      <P class="fontsize"><%= link_to "
      Actor", vin_path %></p>
    </div>
  <div><%= link_to image_tag("hero4.jpg", size: "280x250", alt: "Rails logo") %>
    <p class="fontsize"><%= link_to "
    Blackhat", blackhat_path %></p>
    <P class="fontsize"><%= link_to "
    Actor", robert_path %></p>
    </div>
  <div><%= link_to image_tag("hero5.jpg", size: "280x250", alt: "Rails logo") %>

    <p class="fontsize"><%= link_to "
    The Good the Bad the Werid", thegoodthebadthewerid_path %></p>
    <P class="fontsize"><%= link_to "
    Actor", huge_path %></p>
  </div>
    <div><%= link_to image_tag("hero6.jpg", size: "280x250", alt: "Rails logo") %>
      <p class="fontsize"><%= link_to "
      All is Lost", allislost_path %></p>
      <P class="fontsize"><%= link_to "
      Actor", tony_path %></p>
      </div>
</div>



<div class="movieinline">
    <div><%= link_to image_tag("hero8.jpg", size: "280x250", alt: "Rails logo")
      %>
      <p class="fontsize"><%= link_to "
      Sleepless Night", frederic_path %></p>
      <P class="fontsize"><%= link_to "
      Actor", frederic_path %></p>
    </div>
  <div><%= link_to image_tag("hero9.jpg", size: "280x250", alt: "Rails logo") %>
    <p class="fontsize"><%= link_to "
    ONG Back", ongback_path %></p>
    <P class="fontsize"><%= link_to "
    Actor", henry_path %></p>
    </div>
  <div><%= link_to image_tag("hero10.jpg", size: "280x250", alt: "Rails logo") %>
    <p class="fontsize"><%= link_to "
    Fast Five", fastfive_path %></p>
    <P class="fontsize"><%= link_to "
    Actor", vin_path %></p>
  </div>
    <div><%= link_to image_tag("hero11.jpg", size: "280x250", alt: "Rails logo") %>
      <p class="fontsize"><%= link_to "
      Play in Help", playinhelp_path %></p>
      <P class="fontsize"><%= link_to "
      Actor", vijay_path %></p>
      </div>
</div>


<div class="movieinline">
    <div><%= link_to image_tag("ironman3.jpg", size: "280x250", alt: "Rails logo")
      %>
      <p class="fontsize"><%= link_to "
      Ironman III", ironman3_path %></p>
      <P class="fontsize"><%= link_to "
      Actor", robert_path %></p>

    </div>
  <div><%= link_to image_tag("spiderman.jpg", size: "280x250", alt: "Rails logo") %>
    <p class="fontsize"><%= link_to "
    Spiderman", spiderman_path %></p>
    <P class="fontsize"><%= link_to "
    Actor", tony_path %></p>
    </div>
  <div><%= link_to image_tag("xmen.jpg", size: "280x250", alt: "Rails logo") %>
    <p class="fontsize"><%= link_to "
    XMen", xmen_path %></p>
    <P class="fontsize"><%= link_to "
    Actor", huge_path %></p>
  </div>
    <div><%= link_to image_tag("manofsteel.jpg", size: "280x250", alt: "Rails logo") %>
      <p class="fontsize"><%= link_to "
      Man of Steel", manofsteel_path %></p>
      <P class="fontsize"><%= link_to "
      Actor", henry_path %></p>
      </div>
</div>

</div>
