<% provide(:title, 'hindi_movies') %>
<h1>Hindi Movies</h1>
<div id="main">
<div class="movieinline">
    <div><%= link_to image_tag("guru.jpg", size: "280x250", alt: "Rails logo")
      %>
      <p class="fontsize"><%= link_to "
      Guru", baadshah_path %></p>
      <P class="fontsize"><%= link_to "
      Actor", vijay_path %></p>
    </div>

    <div><%= link_to image_tag("baby.jpg", size: "280x250", alt: "Rails logo") %>
      <p class="fontsize"><%= link_to "
    Baby", babu_path %></p>
      <P class="fontsize"><%= link_to "
      Actor", ntr_path %></p>
    </div>

    <div><%= link_to image_tag("sarfarosh.jpg", size: "280x250", alt: "Rails logo") %>
      <p class="fontsize"><%= link_to "
      Sarfarosh", bagawat_path %></p>
      <P class="fontsize"><%= link_to "
      Actor", vijay_path %></p>
  </div>
  <div><%= link_to image_tag("pk.jpg", size: "280x250", alt: "Rails logo") %>
    <p class="fontsize"><%= link_to "
    PK", bahubali_path %></p>
    <P class="fontsize"><%= link_to "
    Actor", vijay_path %></p>
      </div>
</div>



<div class="movieinline">
    <div><%= link_to image_tag("chakde.jpg", size: "280x250", alt: "Rails logo")
      %>
      <p class="fontsize"><%= link_to "
      Chakede", billu_path %></p>
      <P class="fontsize"><%= link_to "
      Actor", vijay_path %></p>
    </div>
  <div><%= link_to image_tag("kanaani.jpg", size: "280x250", alt: "Rails logo") %>
    <p class="fontsize"><%= link_to "
    Kanaani", doubleattack_path %></p>
    <P class="fontsize"><%= link_to "
    Actor", vijay_path %></p>
    </div>
  <div><%= link_to image_tag("bajrangi.jpg", size: "280x250", alt: "Rails logo") %>
    <p class="fontsize"><%= link_to "
    Bajrangi", doubleattack_path %></p>
    <P class="fontsize"><%= link_to "
    Actor", vijay_path %></p>
  </div>
    <div><%= link_to image_tag("munna.jpg", size: "280x250", alt: "Rails logo") %>
      <p class="fontsize"><%= link_to "
      Munna Bhai M.B.B.S", golimaar_path %></p>
      <P class="fontsize"><%= link_to "
      Actor", vijay_path %></p>
      </div>
</div>



<div class="movieinline">
    <div><%= link_to image_tag("herapheri.jpg", size: "280x250", alt: "Rails logo")
      %>
      <p class="fontsize"><%= link_to "
      Hera Pheri", jantha_path %></p>
      <P class="fontsize"><%= link_to "
      Actor", vijay_path %></p>
    </div>
  <div><%= link_to image_tag("airlift.jpg", size: "280x250", alt: "Rails logo") %>
    <p class="fontsize"><%= link_to "
    Airlift", kick2_path %></p>
    <P class="fontsize"><%= link_to "
    Actor", vijay_path %></p>
    </div>
  <div><%= link_to image_tag("lagemunna.jpg", size: "280x250", alt: "Rails logo") %>
    <p class="fontsize"><%= link_to "
  Large Raho Munna Bhai", lucky_path %></p>
    <P class="fontsize"><%= link_to "
    Actor", vijay_path %></p>
  </div>
    <div><%= link_to image_tag("don.jpg", size: "280x250", alt: "Rails logo") %>
      <p class="fontsize"><%= link_to "
      Don", realtiger_path %></p>
      <P class="fontsize"><%= link_to "
      Actor", vijay_path %></p>
      </div>
</div>



<div class="movieinline">
    <div><%= link_to image_tag("tezz.jpg", size: "280x250", alt: "Rails logo")
      %>
      <p class="fontsize"><%= link_to "
    Tezz", billu_path %></p>
      <P class="fontsize"><%= link_to "
      Actor", vijay_path %></p>
    </div>
  <div><%= link_to image_tag("wednesday.jpg", size: "280x250", alt: "Rails logo") %>
    <p class="fontsize"><%= link_to "
    Wednesday", billu_path %></p>
    <P class="fontsize"><%= link_to "
    Actor", vijay_path %></p>
    </div>
  <div><%= link_to image_tag("gangster.jpg", size: "280x250", alt: "Rails logo") %>
    <p class="fontsize"><%= link_to "
    Gangster", billu_path %></p>
    <P class="fontsize"><%= link_to "
    Actor", vijay_path %></p>
  </div>
    <div><%= link_to image_tag("drishyam.jpg", size: "280x250", alt: "Rails logo") %>
      <p class="fontsize"><%= link_to "
      Drishyam", billu_path %></p>
      <P class="fontsize"><%= link_to "
      Actor", vijay_path %></p>
      </div>
</div>
</div>
