<%= form_with(model: request_movie, local: true) do |form| %>
  <% if request_movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request_movie.errors.count, "error") %> prohibited this request_movie from being saved:</h2>

      <ul>
      <% request_movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :movie_name %>
    <%= form.text_field :movie_name, id: :request_movie_movie_name %>
  </div>

  <div class="field">
    <%= form.label :actor_name %>
    <%= form.text_field :actor_name, id: :request_movie_actor_name %>
  </div>

  <div class="field">
    <%= form.label :today_date %>
    <%= form.text_field :today_date, id: :request_movie_today_date %>
  </div>

  <div class="field">
    <%= form.label :language %>
    <%= form.text_field :language, id: :request_movie_language %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
